[submodule "orcid_mms"]
	path = orcid_mms
	url = ../orcid_mms
[submodule "crossref2mms"]
	path = crossref2mms
	url = ../crossref2mms
[submodule "datacite2mms"]
	path = datacite2mms
	url = ../datacite2mms
